.selectDk {
  position: relative;
  width: 100%;
  height: 3.5vh;
  border-radius: 5px;
  font-size: 18px;
  color: pink;
  display: block;
  background-color: #4d5198;
  margin: 10px auto;

  .children {
    margin-left: 5px;
    line-height: 3.5vh;
  }

  &:focus {
    outline: 3px solid pink;
    border: none;
  }
  &:hover {
    cursor: pointer;
  }
  .optionsContainer {
    transform: scale(0);
    transition: transform 0.3s;
    max-height: 20vh;
    overflow: auto;
  }
  .open {
    position: relative;
    width: 100%;
    margin-top: 1px;
    max-height: 20vh;
    overflow: auto;
    scrollbar-width: thin;
    background-color: #4d5198;
    z-index: 100;
    scrollbar-color: #daf2dc #4d5198;

    // transform: scale(1);
    transition: transform 0.3s;
    border-radius: 5px;
  }

  .options {
    border-bottom: 1px solid pink;
    border-radius: 5px;
    background-color: #4d5198;
    height: 3.5vh;
    line-height: 3vh;
    position: relative;
    padding-left: 5px;
    z-index: 2;

    &:hover {
      background-color: #daf2dc;
      color: #4d5198;
    }
  }
  .arrowUp {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-45%);
    transition: transform 0.3s;
  }
  .arrowDown {
    position: absolute;
    right: 15px;
    top: 50%;
    transition: transform 0.3s;
    transform: translateY(-55%) rotate(180deg);
  }
}
